.nav {
  padding: 2rem 4rem;
  min-height: 10vh;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.navitems {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  color: #548285;
}
.navitems li {
  transition: all 0.2s ease-in-out;
}
.navitems li:hover {
  color: #ddd;
}
.header-content {
  padding: 0 10rem 5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  min-height: calc(100vh - 10vh);
}
.text-content > h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  color: #f2994a;
  transition: all 0.01s linear;
  padding-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.image-content .image {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}
