:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --body-text-rgb: rgb(125, 160, 180);
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --color-border: #eee;
  --color-button-bg: #fff; /* #79b4b7 #f1af7c;*/
  --color-button-hover: #8cced2; /* #fcbc90;*/
}
