input,
textarea {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #505050;
  background-color: #fff;
  -webkit-appearance: none;
  appearance: none;
}

label {
  display: block;
}

input::placeholder {
  color: #41595a;
  font-weight: 500;
}
